Library/
Logs/Packages-Update.log
Packages/manifest.json
ProjectSettings/
obj/
Temp/
.vs/Trench Boy dev/v15/.suo
.vs/
Assets/Scripts/TrenchBoyController.cs
Assets/Scripts/TrenchBoyController.cs
Assets/Scripts/TrenchBoyController.cs
Assets/Scripts/TrenchBoyController.cs.meta
